# Node.js Backend Configuration
PORT=5000
MONGODB_URI=mongodb://localhost:27017/neptune-cxr
PYTHON_API_URL=http://localhost:8000
UPLOAD_DIR=../uploads
HEATMAP_DIR=../heatmaps
FRONTEND_URL=http://localhost:5173
